h1, h2,
section{
	grid-column: 1/2;
}

body {
    display: grid;
	gap: 0.2em;
	grid-template-columns: repeat(1, 1fr);
    font-family: Tahoma, sans-serif;
    font-size:15px;
	font-weight:300;
    color: #000000;
    background-color: rgb(250, 238, 210);
    margin: 25px 50px;
}

h1{
    color: black;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(250, 238, 210);
}

h2{
    color: black;
    text-align: center;
    background-color: rgb(250, 238, 210);
}

p{
    color: black;
    text-align: center;
    background-color: rgb(250, 238, 210);
}

section video,
section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}